@model BookStore.WebClient.ClientModels.DeliveryList

@{
    ViewBag.Title = "delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All the delivery</h2>

@if (Model.deliveryList.Count() == 0)
{
    <p>Sorry, either you have no deliveries to show or the delivery service is currently unavailable. Please try again later.</p>
}
else
{
    <table align="center">
        <thead>
            <tr>
                <th align=center>From  </th>
                <th align=left>To</th>
                <th align=right>Order number</th>
                <th align=right>Status </th>
            </tr>
        </thead>
<tbody>

            @foreach (var lItem in Model.deliveryList)
            {
    <tr>
        
        <td align=center>[ @lItem.SourceAddress ]</td>
        <td align=left>[ @lItem.DestinationAddress ]</td>
        <td align=right>[ @lItem.OrderNumber ] </td>
        <td align=right>[ @lItem.Status ] </td>
        <td>
            @using (Html.BeginForm("RefundDelivery", "Delivery"))
            {
                var flag = lItem.Status;
                if (flag == 0)
                {
                @Html.Hidden("delivery", lItem.DeliveryIdentifier)
                <input type="submit" value=Refund />
                }
            }
        </td>
    </tr>
            }
        </tbody>
    </table>
}

